<div
  class="input-group mb-3 w-100 d-flex flex-column flex-md-row"
  style="border: 1px solid lightgrey"
>
  <div class="col" id="inputContainer">
    <input
      type="text"
      id="task"
      class="form-control task"
      [style.background-color]="disabled ? 'whitesmoke' : ''"
      [style.text-decoration]="checked ? 'line-through' : ''"
      value="{{ task.content }}"
      [disabled]="disabled"
      [(ngModel)]="updatedTask"
      #updatedTaskInput="ngModel"
    />
  </div>

  <div
    class="input-group-append d-flex colum"
    style="border-left: 1px solid lightgray"
  >
    @if(disabled){

    <span
      class="input-group-text"
      id="basic-addon2"
      style="border-radius: 0px; padding: 0px; margin: 0px; border: none"
    >
      <button
        class="btn"
        id="enableButton"
        style="border-radius: 0px; background-color: white"
        (click)="enableTask()"
      >
        <fa-icon [icon]="edit"></fa-icon>
      </button>
    </span>
    <span
      class="input-group-text"
      id="basic-addon2"
      style="border-radius: 0px; padding: 0px; margin: 0px; border: none"
    >
      <button
        class="btn"
        id="strikethroughButton"
        style="border-radius: 0px; background-color: white"
        (click)="checked = !checked; checkTask(checked)"
      >
        <fa-icon [icon]="strikethrough"></fa-icon>
      </button>
    </span>
    <span
      class="input-group-text"
      id="basic-addon2"
      style="border-radius: 0px; padding: 0px; margin: 0px; border: none"
    >
      <button
        class="btn"
        id="deleteButton"
        style="border-radius: 0px; background-color: white"
        (click)="deleteTask()"
      >
        <fa-icon [icon]="delete"></fa-icon>
      </button>
    </span>

    } @else{
    <span
      class="input-group-text"
      id="basic-addon2"
      style="border-radius: 0px; padding: 0px; margin: 0px; border: none"
    >
      <button
        class="btn"
        id="updateButton"
        style="border-radius: 0px; background-color: white"
        (click)="updateTask()"
      >
        <fa-icon [icon]="check"></fa-icon>
      </button>
    </span>
    <span
      class="input-group-text"
      id="basic-addon2"
      style="border-radius: 0px; padding: 0px; margin: 0px; border: none"
    >
      <button
        class="btn"
        id="disableButton"
        style="border-radius: 0px; background-color: white"
        (click)="disableTask()"
      >
        <fa-icon [icon]="undo"></fa-icon>
      </button>
    </span>

    }
  </div>
</div>
